@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --primary: #fea500;
  --secondary: #191d36;
  --main: #ffffff;
}

body {
  background: var(--secondary);
  color: var(--main);
  font-family: "Rubik";
  margin: 0;
}

/* Navbar */
header nav {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav h1 {
  border-bottom: 3px solid var(--primary);
}
nav a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  color: var(--primary);
}
nav a:hover {
  border-bottom: 2px solid var(--main);
}
nav a:active {
  color: var(--main);
}

/* Contact Us */
.contact h1,
.contact p {
  text-align: center;
}
.contact {
  /* border: 1px solid var(--primary); */
  margin: 100px 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
form {
  /* border: 1px solid var(--primary); */
  max-width: 600px;
  margin: auto;
  font-size: 18px;
}
.label {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.label > span {
  padding-bottom: 5px;
}
input {
  height: 25px;
  border-radius: 5px;
}
textarea {
  height: 50px;
  border-radius: 5px;
}
button {
  margin: 5px;
  cursor: pointer;
  background: var(--primary);
  color: var(--main);
}
.submit {
  padding: 5px 8px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}

/* home */
.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}
.home h1 {
  color: var(--primary);
  padding: 5px;
  text-shadow: 2px 2px var(--main);
}
.home p {
  margin-right: 5px;
  font-weight: 300px;
}
.home img {
  width: 160%;
}

/* blog */
.blog h1 {
  text-align: center;
  text-shadow: 2px 2px var(--primary);
}
.blog-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  margin-bottom: 30px;
  border-radius: 15px;
}
.blog-list h2 {
  color: var(--primary);
}
.blog-list p {
  font-weight: lighter;
}

/* create new blog form */
form select{
  color: var(--secondary);
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h1 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: var(--secondary);
}
.create button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
